
{% extends "layout.html" %}
{% load static %}

{% block category_nav %}
{% if article.category %}
    <li>=></li>
    <li><a href="{% url 'articles_by_cat' article.category.id %}">{{ article.category.name }}</a></li>
{% endif %}
{% endblock %}

{% block content %}
<div class="article_main">
    <div class="article_title">
        <div class="zan_article">
            <input id="article_vote_url" value="{% url 'article_vote_url' article.id %}" style="display:none">
            <div id="vote_article" style="display:none"></div>
            <p class="zan_p1">赞</p>
            <p class="zan_p2">{{ article.vote_count }}</p>
        </div>
        <p class="tp1"> {% if article.is_yuan %} <span class="yuan">原</span> {% else %}{% if article.is_zhuan %} <span class="zhuan">转</span> {% endif %}{% endif %}<span class="atitle">{{ article.title }}</span> </p>
        <p class="tp2">发表于{{ article.pub_date_delta}}({{ article.pub_date|date:"Y-m-d H:i" }})&nbsp;&nbsp;&nbsp;阅读（<span>{{ article.view_count }}</span>）&nbsp;|评论（<span>{{ article.comment_count }}</span>）</p>
        {% if article.origin %}
        <p class="tp3">来源: {{ article.origin }}</p>
        {% endif %}
    </div>
    <div class="article_t_sep"></div>
    <div class="article_content"> {{ article.content|safe }} </div>
    <div class="article_nav">
        {% if preArticle %}
        <p id="pre_article"><a href="{% url 'article_by_id' preArticle.id %}">上一篇&gt;&gt; {{ preArticle.title }}</a></p>
        {% endif %}
        {% if nextArticle %}
        <p id="next_article"><a href="{% url 'article_by_id' nextArticle.id %}">下一篇&gt;&gt; {{ nextArticle.title }}</a></p>
        {% endif %}
    </div>

    <div class="article_comment">
        <p id="comment_p1">评论({{ article.comment_count }})</p>
        <div id="comment_sep"></div>
        {% if article.comment_count == 0 %}
        <p id="comment_p2">尚无网友评论</p>
        {% else %}
        <div id="allComments">
            <ul id="comm_list">
                {% for comment in article.comment_set.all %}
                <li class="comm_item">
                    <img src="{% get_static_prefix %}images/220193_50.jpg" class="comm_avata">
                    <div class="comm_body">
                        <div class="comm_header"><a href="javascript:void(0)" class="comm_uname">{{ comment.user_name }}</a><span>{{comment.pub_date_delta}}</span></div>
                        <div class="comm_content">{{ comment.content }}</div>
                        <div class="comm_footer"><a href="javascript:void(0)" class="comm_vote">zan({{comment.vote_count}})</a><a href="javascript:void(0)" class="comm_reply">huifu(3)</a></div>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        <div class="article_comment_form">
            <!--<img src="images/portrait.gif" /> -->
            <div class="input_omment">
            <textarea></textarea>
            <p> <a href="{{ article.submitComment.href }}">发表评论</a> </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
