{% extends "layout.html" %}

{% block content %}
       <div class="article_list">
      	{% for article in articles %}
           <div class="article_item">
              <div class="article_date">
                <p class="day">{{ article.day }}</p>
                <p class="date">{{ article.date }}</p>
              </div>
              <p class="title_p1"><a href="{{ article.href }}">{{ article.title }}</a></p>
              <p class="title_p2">分类: <a href="{{ article.cat.href }}">{{ article.cat.name }}</a>&nbsp;统计: {{ article.commentCount }}评/{{ article.viewCount }}阅/{{ article.voteCount }}赞</p>
            </div>
            
            <div class="article_sep"></div>
  		  {% endfor %}
        </div>
{% endblock %}