body {
	font-size:14px;
	margin:0;
	line-height:150%;
	background-color: #F9F9F9;
}
/** 清除内外边距 **/
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */ dl, dt, dd, ul, ol, li, /* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */ form, fieldset, legend, button, input, textarea, /* form elements 表单元素 */ th, td, /* table elements 表格元素 */ img/* img elements 图片元素 */ {
	border:medium none;
	margin: 0;
	padding: 0;
}
/** 设置默认字体 **/
body, button, input, select, textarea {
	font: 12px/1.5 tahoma, helvetica, sans-serif;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
}
em {
	font-style:normal;
}
/** 重置列表元素 **/
ul, ol {
	list-style: none;
}
/** 重置超链接元素 **/
a {
	text-decoration: none;
	color:#333;
}
a:hover {
	text-decoration: underline;
	color:#F40;
}
/** 重置图片元素 **/
img {
	border:0px;
}
/** 重置表格元素 **/
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clear {
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
#container {
	margin:0 auto;
	width:80%;
}
#header {
	background-color: #5EC16E;
	margin-bottom: 5px;
	padding: 5px;
	color:#FFFFFF;
}
#menu {
	height:30px;
	background:#693;
	margin-bottom:5px;
}
#mainContent {
	margin-bottom:5px;
	margin:0 auto;
}
#sidebar #categories #ulpic {
	list-style-type: circle;
	list-style-image: url(../images/arary_r2_c2.jpg);
	line-height: 22px;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 30px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
}
#sidebar .sidetitle {
	font-size: 16px;
	line-height: 25px;
	font-weight: bold;
	color: #6A6A6A;
	margin: 10px;
}
#sidebar #mostRead #mulnum {
	list-style-type: decimal;
	padding-left: 37px;
	line-height: 22px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#sidebar {
	margin: 0px;
	padding: 0px;
	overflow: auto;
	zoom:1;
	width:220px;
	float: left;
}
#sidebar #vistStatistice ul {
	list-style-type: none;
	line-height: 22px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	padding-top: 10px;
	padding-right: 0px;
	padding-bottom: 10px;
	padding-left: 14px;
}
#sidebar #newestComment ul {
	line-height: 22px;
	list-style-type: none;
	padding-left: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
}
#newestComment li{
    width:190px;
    word-break:break-all;
}
#newestComment li span{
    color: #3A9CE4;
}

#content {
	margin-left:230px !important;
	margin-left:207px;
}/*当content设定高度后，3像素会跑到content外侧，这样，我们用!important修正在ie下向左多浮动2像素，加上3像素的bug正好是5像素，所以在火狐和IE下显示是一样的*/
.article_list hr {
	background-color: #C0C0C0;
}
.title_p1 {
	color: #333333;
	font-size: 22px;
	line-height: 25px;
	vertical-align: middle;
	margin-bottom: 5px;
	font-weight: 450;
}
.article_sep {
	height: 1px;
	background-color: #808080;
}
.title_p2 {
	color: #7E7E7E;
	font-size: 16px;
	line-height: 24px;
	vertical-align: middle;
}
#sidebar #owner {
	margin-right: auto;
	margin-left: auto;
	margin-top: 0px;
	margin-bottom: 5px;
}
#owner #icon {
	height: 176px;
	background-color: #5CC26F;
	margin-bottom: 5px;
}

#icon a{
	display: block;
}
#sidebar .sep {
	background-image: url(../images/00000001_r2_c2.jpg);
	background-repeat: repeat-x;
	height: 8px;
}
#footer {
	height:60px;
	background:#9c6;
	line-height: 60px;
}
#footer p{
	width: 200px;
	margin: 0 auto;
}
#sidebar #owner #signature {
	height: 58px;
	margin-bottom: 2px;
	background-color: #7798CB;
	text-align: center;
	color: #FFF;
	line-height: 58px;
}
#sidebar #categories {
	margin-bottom: 5px;
	background-color: #EAEAEA;
}
#sidebar #newestComment {
	margin-bottom: 5px;
	background-color: #EAEAEA;
    width: 220px;
}
#sidebar #friendLinks {
	margin-bottom: 5px;
	background-color: #EAEAEA;
}
#sidebar #mostRead {
	margin-bottom: 5px;
	background-color: #EAEAEA;
}
#sidebar #vistStatistice {
	margin-bottom: 5px;
	background-color: #EAEAEA;
}
#owner #requst #message {
	float: left;
	width: 110px;
}
#sidebar #newestComment #nulnum {
	list-style-type: none;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	line-height: 20px;
	padding-right: 5px;
}
#content #top_div {
	height: 42px;
	line-height: 38px;
	background-color: #EAEAEA;
	font-size: 14px;
}
.article_item {
	margin-top: 20px;
	margin-right: 15px;
	margin-bottom: 20px;
	margin-left: 15px;
}
.article_date {
	background-color: #555FAA;
	height: 46px;
	width: 50px;
	float: right;
	margin-top: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-left: 40px;
}
#top_div ul {
	list-style: none;
	margin: 0px;
	padding: 0px 0px 0px 10px;
}
#top_div ul li {
	float:left;
	padding: 0px 3px;
	height: 26px;
	line-height: 46px;
}
.article_date p {
	color: #FFFBF0;
}
.article_date .day {
	font-size: 19px;
	margin-left: 13px;
	font-weight: bold;
}
.article_date .date {
	font-size: 12px;
	margin-left: 2px;
}
#container #header .one {
	font-size: 36px;
	font-weight: bold;
}
#container #header .two {
	font-size: 16px;
	text-align: right;
}
.search {
	float: right;
}
.search a {
	font-size: 16px;
	background-color: #5CC26F;
	vertical-align:middle;
	padding: 2px;
	margin-top: auto;
	margin-right: 5px;
	margin-bottom: auto;
	margin-left: auto;
	color:#FFFFFF;
	font-weight:bold;
}
.search a:hover {
	background-color:#009F00;
	text-decoration:none;
	color:#FFFFFF;
}
.search a:active {
	background-color:#009F00;
	text-decoration:none;
	color:#FFFFFF;
}
#search_content {
	margin:auto;
	height: 22px;
	vertical-align:middle;
}
#search_button{
	font-size: 16px;
	background-color: #5CC26F;
	vertical-align:middle;
	padding: 2px;
	margin-top: auto;
	margin-right: 5px;
	margin-bottom: auto;
	margin-left: auto;
	color:#FFFFFF;
	font-weight:bold;
}

.zan_article {
	background-color: #5CC26F;
	height: 50px;
	width: 50px;
	float: right;
	padding-top: 5px;
}
.zan_article a:hover{
	text-decoration:none;
}
.zan_article a:active{
	text-decoration:none;
}

.article_main .article_title {
	padding:20px 15px 30px 15px;
	background-color: #FFF;
	line-height: 25px;
}
.article_title .tp1 {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 2px;
}
.article_main {
}
.article_comment {
	background-color: #FFF;
	border: 1px solid #EEE;
	margin: 10px auto;
}
.comment_item {
	padding-bottom: 20px;
	background-color: #F9F9F9;
	line-height: 30px;
}

.article_comment_form {
	background-color: #FFF;
	border: 1px solid #EEE;
	padding-bottom:5px;
}
#footer_sep {
	height: 2px;
	background-color: #CCCCCC;
}
#search {
}
#comment_sep {
	background-color: #9C6;
	height: 1px;
}


.article_comment_form p a {
	background-color: #5CC26F;
	color: #FFF;
	padding: 5px;
	font-size: 16px;
	
	margin-left:10px;
}
#comment_p2 {
	text-align: center;
	height: 50px;
	line-height: 50px;
}
.article_comment_form textarea {
	width: 99.6%;
	height: 100px;
	margin-bottom: 7px;
	border: 1px solid #ABADB3;
}
#comment_p1 {
	font-size: 24px;
}
.article_title .tp2 {
	font-size: 12px;
	color:#333;
}

.article_title .tp3 {
	margin-bottom: 5px;
}

.article_content{
	color: #333;
	padding:10px 15px 10px 15px;
	margin:5px auto;
	font-size: 14px;
	word-spacing: normal;
	letter-spacing: normal;
	line-height: 28px;
	background-color: #FFF;
	border: 1px solid #EEEEEE;
}
.article_nav {
	background-color: #FFF;
	border: 1px solid #EEE;
	margin: 5px auto;
}
.article_main .article_t_sep {
	background-color: #5CC26F;
	height: 1px;
}
.zan_article .zan_p1 {
	font-size: 26px;
	padding-left: 12px;
	color: #FFFFFF;
	font-weight: bold;
}
.yuan {
	background-color: #5EC16E;
	color: #FFF;
	font-size: 16px;
	padding: 4px;
}
.zhuan {
	font-size: 16px;
	color: #FFF;
	background-color: #555FAA;
	padding: 4px;
}

.tp1 .atitle{
	padding-top: 3px;
}

.article_title .tp2 span {
	color: #5EC16E;
}
.zan_article .zan_p2 {
	color: #FFF;
	padding-left: 22px;
}
.article_nav a {
	color: #555FAA;
	font-size: 14px;
}
.comment_item img {
	margin-right: 20px;
	float: left;
	margin-left: 5px;
	margin-top: 10px;
}
.comment_title a {
	color: #4587CF;
}
.article_comment_form img {
	margin-right: 20px;
	float: left;
	margin-top: 10px;
	margin-left: 5px;
}
.input_omment{
	padding: 5px;
}


/*
.comment_title span {
	font-weight: bold;
}

.comment_reference {
	margin-left: 10px;
	background-color: #FFC;
	color: #333;
	border:1px solid #999999;
	padding-left: 5px;
	margin-top: 2px;
	margin-right: 2px;
}
.reference_sp2 {
	display: block;
}
.reference_sp1 {
	display: block;
	color:#6677B9
}

.comment_real {
	color: #2A3FFF;
	margin-left: 5px;
}
.comment_title {
	color: #333;
}

.comment_item_con {
	margin-left: 70px;
}
*/

.comm_item{
	position: relative;
	left: 8px;
	width: 99%;
	border-bottom: 1px solid #DDDDDD;
}

.comm_item img{
	position: absolute;
	top:10px;
	left: 10px;
}

.comm_body{
	margin-left: 70px;
}

.comm_header{
	margin-top: 10px;
}
.comm_content{
	margin: 10px 0;
}
.comm_footer{
	margin-bottom: 10px;
}

.comm_uname{
	color: #379BE9;
}

.comm_vote, .comm_uname{
	margin-right: 10px;
}
.comm_vote, .comm_reply{
	color: #999999;
}
.prompt_vote{
	position: absolute;
	background-color:#7c2c83;
	color: #ffffff;
	top:250px;
	left:700px;
	padding:10px;
	display:none;
}

.alt_comment_form {
	background-color: #EAEAEA;
	padding-bottom: 10px;
	padding-left: 5px;
}

.alt_comment_form .com_line{
	line-height: 30px;
}

.alt_comment_form .flag{
	width: 40px;
	display: inline-block;
	margin-left: 2px;
}

#user_name,#email{
	border: solid 1px #C2C2C2;
	width: 150px;
}

#comment_button{
	border-right:solid 2px #999999;
	border-bottom: solid 2px #999999;
	background-color: #5CC26F;
	color: #fff;
	line-height: 30px;
	padding-left: 10px;
	padding-right: 10px;
}

.article_content{
	color: #333;
	padding:10px 15px 10px 15px;
	margin:5px auto;
	font-size: 14px;
	word-spacing: normal;
	letter-spacing: normal;
	line-height: 28px;
	background-color: #FFF;
	border: 1px solid #EEEEEE;
}

.article_tags{
	color: #333;
	padding:10px 15px 10px 15px;
	margin:5px auto;
	font-size: 14px;
	word-spacing: normal;
	letter-spacing: normal;
	line-height: 28px;
	background-color: #FFF;
	border: 1px solid #EEEEEE;
}
.article_tags ul{
    list-style-type:none;
}

.article_tags li{
    display:inline;
}
.article_tags a:link{
    font-weight: bold;
    color:#FFFFFF;
    background-color:#98bf21;
    text-align:center;
    padding: 4px;
    text-decoration:none;
}
.article_tags a:visited{
    font-weight: bold;
    color:#FFFFFF;
    background-color:#98bf21;
    text-align:center;
    padding: 4px;
    text-decoration:none;
}
.article_tags a:hover{
    background-color:#7A991A;
}

.article_tags a:active{
    background-color:#7A991A;
}

.errors{
	background-color: #E8E8BA;
	color: red;
	padding-left: 5px;
}

.thanks{
	background-color: #B7F9E3;
	padding-left: 10px;
	line-height: 30px;
}